[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/fast_float"]
	path = vendor/fast_float
	url = https://github.com/fastfloat/fast_float
[submodule "vendor/CLI11"]
	path = vendor/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "indicators"]
	path = vendor/indicators
	url = https://github.com/p-ranav/indicators.git
